table{
    display: flex;
    flex-flow: column;
    width: 100%;

    thead, tbody{
        min-width: 100%;
        justify-content: space-between;

        tr{
            display: inline-flex;
            flex-flow: row nowrap;
            width: 100%;
            justify-content: flex-start;

            th, td{
                text-align: left;
                overflow-wrap: break-word;
                padding: 10px 5px;
            }

            td{
                border-bottom: 1px solid var(--table-border-black);
            }
        }
    }

    thead{
        background-color: var(--thead-color);
        border: 2px solid var(--table-border-black);
    }

    tbody{
        margin: 1px;

        tr:hover{
            background-color: var(--tr-Hover-color);
        }
    }
}

.table__header{
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-end;

    width: 100%;
    
    .table__header-filters{
        display: inline-flex;
        align-items: center;

        padding: 5px;

        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-top: 2px solid var(--table-border-black);
        border-left: 2px solid var(--table-border-black);
        border-right: 2px solid var(--table-border-black);

        background-color: var(--thead-color);

        .filter-options{
            display: inline-flex;
            align-items: center;
        }

        select{
            color: var(--black-color);
            width: 100%;
            border-radius: 5px;
            border: none;
    
            padding: 5px;
    
            font-weight: 600;
    
            &:focus{
                outline: none;
            }
        }
        
        .option {
            color: var(--black-color);
            font-size: 0.9rem;
            font-weight: 500;
        }

        
        .searchInput{
            position: relative;
            .icon-search{
                position: absolute;
                color: var(--black-color);
                bottom: 1px;
                right: 4px;
                background-color: white;

                i{ padding: 6px;}
            }

            input{
                width: 100%;
                padding: 5px;
                border-radius: 5px;
                border: 1px solid var(--table-border-black);
                
                color: var(--black-color);
                font-weight: 600;

        
            
                &:focus{
                    color: var(--black-color);
                    background: var(--colorText);
                    border-radius: 5px;
                    outline: none;
                }
            } 
        }

    }
    
}

.table__footer{
    width: 100%;
}

.pagination {
    display: flex;
    list-style: none;
    outline: none;
    width: fit-content;
}

  .pagination > .active > a{
    background-color: var(--main-color);
    border-color: var(--table-border-black);
    color: var(--colorText);
}

.pagination > li > a{
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: var(--main-color);
    border-color: var(--main-color);
    outline: none;
}

.pagination > li > a, .pagination > li > span{
    color: var(--main-color);
}

.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
}

.css-2b097c-container{
    width: 120px;

    &:focus{
        outline: none;
    }

    .css-g1d714-ValueContainer:focus{
        outline: none;
    }

    .css-yk16xz-control{
        color: var(--black-color);
        background-color: transparent;
        border-width: 0px !important;
        width: 100%;
    }

    .css-1okebmr-indicatorSeparator{
        width: 2px !important;
        border-radius: 5px;
        background-color: var(--main-color);
    }

    .css-tj5bde-Svg{
        color: var(--main-color);
    }

    .css-2613qy-menu{
        background-color: var(--bgColorNav);
    }

    .css-1uccc91-singleValue{
        color: var(--colorText);
    }
}