main{
    max-width: 100%;
    border-radius: 25px;

    margin: 5px 30px 30px 0px;
    padding: 30px 35px;

    div.container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    div.row{
        display: inline-flex;
        flex-flow: row wrap;
        width: 100%;
    }

    div.subrow{
        display: flex;
        flex-flow: row wrap;
        flex: 1;
        
        height: fit-content;
        width: 100%;
    }

}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 32.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.h-fit{height: fit-content;}

@media only screen and (max-width: 650px){
    .col-sm-1 {min-width: 8.33%;}
    .col-sm-2 {min-width: 16.66%;}
    .col-sm-3 {min-width: 25%;}
    .col-sm-4 {min-width: 32.33%;}
    .col-sm-5 {min-width: 41.66%;}
    .col-sm-6 {min-width: 50%;}
    .col-sm-7 {min-width: 58.33%;}
    .col-sm-8 {min-width: 66.66%;}
    .col-sm-9 {min-width: 75%;}
    .col-sm-10 {min-width: 83.33%;}
    .col-sm-11 {min-width: 91.66%;}
    .col-sm-12 {min-width: 100%;}
}