* {box-sizing: border-box;}


html, body, h1, h2, h3{ margin: 0px; padding: 0px;}
html, body, #root{ height: 100vh; font-size: 14px;}
body,
input,
button,
select,
textarea{ font-family: 'Montserrat', sands-serif; color: var(--colorText);}

ul, ol {margin: 0px; padding: 0px}


.wrapper {
    background-color: var(--bgColorNav);

    // height: 100vh;
    // max-width: 100vw;
    overflow-x: hidden;

    display: grid;
    grid-template-rows: 70px auto;
    grid-template-columns: 250px auto;
}

main{
    grid-row: 2/3;
    grid-column: 2/3;

    background-color: var(--bgColorMain);
}

.navbar{
    position: sticky;

    grid-row: 1/2;
    grid-column: 2/3;

    background-color: var(--bgColorNav);
}

.sidebar{
    position: sticky;

    grid-row: 1/3;
    grid-column: 1/2;

    background-color: var(--bgColorNav);
}

a {
    text-decoration: none;
    color: var(--colorText);
}

.mt-1 {margin-top: 5px;}
.mt-2 {margin-top: 10px;}
.mt-3 {margin-top: 15px;}
.mt-4 {margin-top: 20px;}
.mt-5 {margin-top: 25px;}
.mb-1 {margin-bottom: 5px;}
.mb-2 {margin-bottom: 10px;}
.mb-3 {margin-bottom: 15px;}
.mb-4 {margin-bottom: 20px;}
.mb-5 {margin-bottom: 25px;}
.ml-1 {margin-left: 5px;}
.ml-2 {margin-left: 10px;}
.ml-3 {margin-left: 15px;}
.ml-4 {margin-left: 20px;}
.ml-5 {margin-left: 25px;}
.mr-1 {margin-right: 5px;}
.mr-2 {margin-right: 10px;}
.mr-3 {margin-right: 15px;}
.mr-4 {margin-right: 20px;}
.mr-5 {margin-right: 25px;}
.m-1 {margin: 5px;}
.m-2 {margin: 10px;}
.m-3 {margin: 15px;}
.m-4 {margin: 20px;}
.m-5 {margin: 25px;}
.mx-auto {margin: 0 auto;}
.my-auto {margin: auto 0;}

.pt-1 {padding-top: 5px;}
.pt-2 {padding-top: 10px;}
.pt-3 {padding-top: 15px;}
.pt-4 {padding-top: 20px;}
.pt-5 {padding-top: 25px;}
.pb-1 {padding-bottom: 5px;}
.pb-2 {padding-bottom: 10px;}
.pb-3 {padding-bottom: 15px;}
.pb-4 {padding-bottom: 20px;}
.pb-5 {padding-bottom: 25px;}
.pl-1 {padding-left: 5px;}
.pl-2 {padding-left: 10px;}
.pl-3 {padding-left: 15px;}
.pl-4 {padding-left: 20px;}
.pl-5 {padding-left: 25px;}
.pr-1 {padding-right: 5px;}
.pr-2 {padding-right: 10px;}
.pr-3 {padding-right: 15px;}
.pr-4 {padding-right: 20px;}
.pr-5 {padding-right: 25px;}
.p-1 {padding: 5px;}
.p-2 {padding: 10px;}
.p-3 {padding: 15px;}
.p-4 {padding: 20px;}
.p-5 {padding: 25px;}
.px-auto {padding: 0 auto;}
.py-auto {padding: auto 0;}

.overflow-h{overflow: hidden;}

// Display
.d-none{ display: none; }

// FLEXBOX
.flex-break{width: 100%;height: 0px;}

.d-flex {display: flex;}
.flex-wrap{flex-wrap: wrap;}
.flex-nowrap{flex-wrap: nowrap;}
.flex-1 {flex: 1;}

.text-center{text-align: center !important;}
.justify-content-center{justify-content: center !important;}
.justify-content-se{justify-content: space-evenly !important;}
.justify-content-sb{justify-content: space-between !important;}
.justify-content-sa{justify-content: space-around !important;}
.justify-items-center{justify-items: center !important;}
.justify-self-center{justify-self: center !important;}
.align-content-center{align-content: center !important;}
.align-items-center{align-items: center !important;}
.align-self-center{align-self: center !important;}
.place-content-center{place-content: center !important;}
.place-items-center{place-items: center !important;}
.place-self-center{place-self: center !important;}


@media only screen and (max-width: 650px){
    // #root {
    //     font-size: 14px;
    //     grid-template-areas: "navbar" "main" "sidebar";
    //     grid-template-rows: 70px auto 70px;
    //     grid-template-columns: 1fr;
    // }

    // .navbar{
    //     grid-area: "navbar";
    //     background-color: $bgColorNav;
    // }
    
    // .sidebar{
    //     grid-area: "sidebar";
    //     background-color: $bgColorNav;
    // }

    // main{    
    //     grid-area: "main";
    //     background-color: $secundary;
    // }
}