:root {
    //btns
    --danger: #EF796D;
    --danger-border: #9e4e45;
    --danger-hover: #dd5444;
    --danger-shadow: #b35d5369;

    --success: #20BFA9;
    --success-border: #126156; //#188678
    --success-hover: #199382; //#199382
    --success-shadow: #18867769;

    --warning: #FEB95A;
    --warning-border: #b1813e;
    --warning-hover: #fea327;
    --warning-shadow: #b1813e69;
    
    --default: #eee;
    --default-border: #acacac;
    --default-hover:#dddada;
    --default-shadow:#acacac69;

    --blue: #3f78ce;
    --blue-border: #3161a8;
    --blue-hover: #2c60ae;
    --blue-shadow:#2b5594a4;

    //Cards
    --card-border-success: #39ffe5;
    --card-border-danger: #ff988c;
    --card-border-warning: #f8cc8e;
    --card-border-default: #ffffff;
    --card-border-blue: #71a2ec;

    //Banners
    --banner-border-success: #39ffe5;
    --banner-border-danger: #ff988c;
    --banner-border-warning: #f8cc8e;
    --banner-border-default: #ffffff;
    --banner-border-blue: #71a2ec;
    
    //Table
    --table-border-black: #0b0a0f82;
    
    //Sidebar
    --main-color: #3f78ce;

    //Navbar
    --notifications: #b47f1d;
    --light: #b47f1d;
    --dark: #4754c7;

    //Animations
    --duration: 0.2s;
    --duration-notifications: 0.3s;

    //Colors
    --black-color: #1b1b1b;
    --white-color: #eee;
}

html[data-theme='dark'] {
    --colorText: #eee;
    --bgColorMain: #232228;
    --bgColorNav: #0B0A0F;
    --active:#3f78ce;

    //Shadow
    --shadow-color: #0B0A0F;
    --shadow-dark: #030303;

    // Card
    --card-content-black: #1B1A1F;
    --card-border-black: #111111;
    --card-content-default: #eee;
    --card-border-default: #eee;

    // Banner
    --banner-content-black: #1B1A1F;
    --banner-border-black: #111111;
    --banner-content-default: #eee;
    --banner-border-default: #eee;
    --banner-figure-blue: #192d4b;
    --banner-figure-success: #116358;
    --banner-figure-danger: #80413a;
    --banner-figure-warning: #79582b;
    --banner-figure-default: #797979;
    --banner-shadow-1: #141417;
    --banner-shadow-2: #222127;

    // Table
    --table-border-color: ;
    --thead-color: #25426d;
    --tr-Hover-color: #252e3f;
    --table-border-black: #0b0a0f82;

    // DateComponents
    --opacity: 0.5;

    // Modal
    --modalHeader: #232228;
    --modalBody: #2c2b31;
    --modalBorder: #161616;
}

html[data-theme='light'] {
    --colorText: #1b1b1b;
    --bgColorMain: #d5d8dd;
    --bgColorNav:#EBEBF5;
    --active:#2e5896;

    //Shadow
    --shadow-color: #8c8f92;
    --shadow-dark: #2c2c2c;

    // Card
    --card-content-black: #e2e2e2;
    --card-border-black: #cccccc;
    --card-content-default: #242424;
    --card-border-default: #0f0f0f;

    // Banner
    --banner-content-black: #ebebeb;
    --banner-border-black: #ccc;
    --banner-content-default: #ebebeb;
    --banner-border-default: #ccc;
    --banner-figure-blue: #aabcdb;
    --banner-figure-success: #97d1c9;
    --banner-figure-danger: #d4a29c;
    --banner-figure-warning: #cfb999;
    --banner-figure-default: #b4b4b4;
    --banner-shadow-1: #c8c8c8;
    --banner-shadow-2: #ffffff;

    // Table
    --table-border-color: ;
    --thead-color: #91b2e0;
    --tr-Hover-color: #acacac;
    --table-border-black: #3f618082;

    //DateComponents
    --opacity: 1;

    // Modal
    --modalHeader: #dadada;
    --modalBody: #e6e6e6;
    --modalBorder: #d1d1d1;

}