
a.btn-flex{
    // width: 100%; 
    // height: 100%;
    display: flex;
    text-align: center;
    
    button, .btn{
        padding: 12px 20px;
        line-height: 120%;
        font-weight: 500;
        
        flex-basis: 100%;
        max-height: 100%;
    
        border-radius: 10px;
    }

    .btn-sm {
        padding: 7px 16px;
    }
}

.btn-block{flex:1 1 auto;}

.btn-success{
    background: var(--success) ;
    border: 1px solid var(--success-border) ;
    transition: var(--duration) ease-out;
    &:hover,focus{
        background: var(--success-hover);
        box-shadow: 0 2px 10px 0 var(--success-shadow);
    }
}

.btn-outline-success{
    color: var(--colorText);
    background: transparent;
    border: 1px solid var(--success-border);
    transition: var(--duration) ease-out;
    &:hover,focus{
        background: var(--success-hover);
        box-shadow: 0 2px 10px 0 var(--success-shadow);
    }
}

.btn-danger{
    background: var(--danger) ;
    border: 1px solid var(--danger-border);
    transition: var(--duration) ease-out;
    &:hover,focus{
        background: var(--danger-hover);
        box-shadow: 0 2px 10px 0 var(--danger-shadow); 
    }
}
.btn-outline-danger{
    color: var(--colorText);
    background: transparent;
    border: 1px solid var(--danger-border);
    transition: var(--duration) ease-out;
    &:hover,focus{
        background:var(--danger-hover);
        box-shadow: 0 2px 10px 0 var(--danger-shadow); 
    }
}
.btn-warning{
    background: var(--warning);
    border: 1px solid var(--warning-border);
    transition: var(--duration) ease-out;
    &:hover,focus{
        background: var(--warning-hover);
        box-shadow: 0 2px 10px 0 var(--warning-shadow);
    }
}

.btn-outline-warning{
    color: var(--colorText);
    background: transparent;
    border: 1px solid var(--warning-border);
    transition: var(--duration) ease-out;
    &:hover,focus{
        background: var(--warning-hover);
        box-shadow: 0 2px 10px 0 #b1813e69; 
    }
}

.btn-default{
    color: var(--black-color) !important;
    background: var(--default);
    border: 1px solid var(--default-border);
    transition: var(--duration) ease-out;
    &:hover,focus{
        background: var(--default-hover);
        box-shadow: 0 2px 10px 0 var(--default-shadow); 
    }
}

.btn-outline-default{
    color: var(--colorText);
    background: transparent;
    border: 1px solid var(--default-border);
    transition: var(--duration) ease-out;
    &:hover,focus{
        color: #161616;
        background: var(--default-hover);
        box-shadow: 0 2px 10px 0 var(--default-shadow); 
    }
}

.btn-blue{
    background: var(--blue);
    border: 1px solid var(--blue-border);
    transition: var(--duration) ease-out;
    &:hover,focus{
        background: var(--blue-hover);
        box-shadow: 0 2px 10px 0 var(--blue-shadow); 
    }
}

.btn-outline-blue{
    color: var(--colorText);
    background: transparent;
    border: 1px solid var(--blue-border);
    transition: var(--duration) ease-out;
    &:hover,focus{
        background: var(--blue-hover);
        box-shadow: 0 5px 10px 5px var(--blue-shadow); 
    }
}

.btn-options{
    display: flex;
    place-content: center;

    max-width: 2.4rem;
    height: fit-content;

    color: var(--black-color);
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.247);

    transition: var(--duration) ease-in-out;
    cursor: pointer;

    i{
        width: 1.1rem !important;
        height: 1.1rem !important;
    }
}

.btn-create{
    color: var(--success);
    background: var(--bgColorMain);
    border: 1px solid var(--success);
    -webkit-text-stroke: 1px darken($color: #20BFA9, $amount: 30%);

    &:hover{
        background: var(--success);
        border: 1px solid transparent;
        color: var(--colorText);
        -webkit-text-stroke: 1px transparent;
    }
}

.btn-edit{
    color: var(--warning);
    background: var(--bgColorMain);
    border: 1px solid var(--warning);
    -webkit-text-stroke: 1px darken($color: #FEB95A, $amount: 30%);

    &:hover{
        background: var(--warning);
        border: 1px solid transparent;
        color: var(--colorText);
        -webkit-text-stroke: 1px transparent;
    }
}

.btn-delete{
    color: var(--danger);
    background: var(--bgColorMain);
    border: 1px solid var(--danger);
    -webkit-text-stroke: 1px darken($color: #EF796D, $amount: 30%);  

    &:hover{
        color: var(--colorText);
        background: var(--danger);
        border: 1px solid transparent;
        -webkit-text-stroke: 1px transparent;
    }
}

button{
    &:focus{
        outline: none;
    }

    &:hover{
        outline: none;
    }
}

@media only screen and (max-width: 650px){
    .btn{
        padding: 10px 16px;
        font-size: 0.9rem;
        min-width: 40px;
        height: 40px;
    }
}