@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --danger: #EF796D;
  --danger-border: #9e4e45;
  --danger-hover: #dd5444;
  --danger-shadow: #b35d5369;
  --success: #20BFA9;
  --success-border: #126156;
  --success-hover: #199382;
  --success-shadow: #18867769;
  --warning: #FEB95A;
  --warning-border: #b1813e;
  --warning-hover: #fea327;
  --warning-shadow: #b1813e69;
  --default: #eee;
  --default-border: #acacac;
  --default-hover:#dddada;
  --default-shadow:#acacac69;
  --blue: #3f78ce;
  --blue-border: #3161a8;
  --blue-hover: #2c60ae;
  --blue-shadow:#2b5594a4;
  --card-border-success: #39ffe5;
  --card-border-danger: #ff988c;
  --card-border-warning: #f8cc8e;
  --card-border-default: #ffffff;
  --card-border-blue: #71a2ec;
  --main-color: #3f78ce;
  --notifications: #b47f1d;
  --light: #b47f1d;
  --dark: #4754c7;
  --duration: 0.3s;
  --duration-notifications: 0.3s;
  --black-color: #1b1b1b;
  --white-color: #eee;
}

html[data-theme='dark'] {
  --colorText: #eee;
  --bgColorMain: #232228;
  --bgColorNav: #0B0A0F;
  --active:#3f78ce;
  --card-content-black: #1B1A1F;
  --card-border-black: #141414;
  --card-content-default: #eee;
  --card-border-default: #eee;
}

html[data-theme='light'] {
  --colorText: #1b1b1b;
  --bgColorMain: #c8c8c9;
  --bgColorNav:#EBEBF5;
  --active:#2e5896;
  --card-content-black: #e2e2e2;
  --card-border-black: #cccccc;
  --card-content-default: #242424;
  --card-border-default: #0f0f0f;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, h1, h2, h3 {
  margin: 0px;
  padding: 0px;
}

html, body, #root {
  height: 100vh;
  font-size: 14px;
}

body,
input,
button,
select,
textarea {
  font-family: 'Montserrat', sands-serif;
  color: var(--colorText);
}

ul, ol {
  margin: 0px;
  padding: 0px;
}

.wrapper {
  background-color: var(--bgColorNav);
  overflow-x: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 70px auto;
      grid-template-rows: 70px auto;
  -ms-grid-columns: 250px auto;
      grid-template-columns: 250px auto;
}

main {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  background-color: var(--bgColorMain);
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  background-color: var(--bgColorNav);
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  background-color: var(--bgColorNav);
}

a {
  text-decoration: none;
  color: var(--colorText);
}

.mt-1 {
  margin-top: 5px;
}

.mt-2 {
  margin-top: 10px;
}

.mt-3 {
  margin-top: 15px;
}

.mt-4 {
  margin-top: 20px;
}

.mt-5 {
  margin-top: 25px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-2 {
  margin-bottom: 10px;
}

.mb-3 {
  margin-bottom: 15px;
}

.mb-4 {
  margin-bottom: 20px;
}

.mb-5 {
  margin-bottom: 25px;
}

.ml-1 {
  margin-left: 5px;
}

.ml-2 {
  margin-left: 10px;
}

.ml-3 {
  margin-left: 15px;
}

.ml-4 {
  margin-left: 20px;
}

.ml-5 {
  margin-left: 25px;
}

.mr-1 {
  margin-right: 5px;
}

.mr-2 {
  margin-right: 10px;
}

.mr-3 {
  margin-right: 15px;
}

.mr-4 {
  margin-right: 20px;
}

.mr-5 {
  margin-right: 25px;
}

.m-1 {
  margin: 5px;
}

.m-2 {
  margin: 10px;
}

.m-3 {
  margin: 15px;
}

.m-4 {
  margin: 20px;
}

.m-5 {
  margin: 25px;
}

.mx-auto {
  margin: 0 auto;
}

.my-auto {
  margin: auto 0;
}

.pt-1 {
  padding-top: 5px;
}

.pt-2 {
  padding-top: 10px;
}

.pt-3 {
  padding-top: 15px;
}

.pt-4 {
  padding-top: 20px;
}

.pt-5 {
  padding-top: 25px;
}

.pb-1 {
  padding-bottom: 5px;
}

.pb-2 {
  padding-bottom: 10px;
}

.pb-3 {
  padding-bottom: 15px;
}

.pb-4 {
  padding-bottom: 20px;
}

.pb-5 {
  padding-bottom: 25px;
}

.pl-1 {
  padding-left: 5px;
}

.pl-2 {
  padding-left: 10px;
}

.pl-3 {
  padding-left: 15px;
}

.pl-4 {
  padding-left: 20px;
}

.pl-5 {
  padding-left: 25px;
}

.pr-1 {
  padding-right: 5px;
}

.pr-2 {
  padding-right: 10px;
}

.pr-3 {
  padding-right: 15px;
}

.pr-4 {
  padding-right: 20px;
}

.pr-5 {
  padding-right: 25px;
}

.p-1 {
  padding: 5px;
}

.p-2 {
  padding: 10px;
}

.p-3 {
  padding: 15px;
}

.p-4 {
  padding: 20px;
}

.p-5 {
  padding: 25px;
}

.px-auto {
  padding: 0 auto;
}

.py-auto {
  padding: auto 0;
}

.flex-break {
  width: 100%;
  height: 0px;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.justify-content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-items {
  justify-items: center;
}

.justify-self {
  -ms-grid-column-align: center;
      justify-self: center;
}

.align-content {
  -ms-flex-line-pack: center;
      align-content: center;
}

.align-items {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-self {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.wrapper-auth {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0B0A0F;
}

div.container-auth {
  max-width: 400px;
  padding: 3px;
  position: relative;
  border-radius: 10px;
  background: linear-gradient(30deg, #0f1011 60%, #6ba4f8 100%);
}

div.container-auth .logo {
  place-items: center;
  text-align: center;
  margin: 2rem 0;
}

div.container-auth .content {
  background: #222;
  color: white;
  padding: 3px;
  background: linear-gradient(30deg, #1B1A1F 60%, #3f78ce 100%);
  border-radius: 10px;
}

div.row-auth {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
  padding: 0.7rem;
}

form.auth label {
  width: 100%;
  padding-bottom: 2px;
  color: #eee;
  font-weight: 400;
}

form.auth button.visible {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  position: relative;
  top: -22px;
  right: -335px;
  color: #3f78ce;
}

form.auth button.visible:focus {
  outline: none;
}

form.auth input {
  color: #000;
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 5px;
  font-weight: 600;
}

form.auth input:focus {
  outline: none;
}

.auth-footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.auth-footer a {
  font-size: 0.75rem;
  font-weight: 400;
}

.navbar nav {
  height: 100%;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  height: 100%;
  width: 100%;
}

.navbar ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  place-items: center;
  padding: 10px;
  margin-right: 15px;
  border-radius: 50%;
  background-color: var(--bgColorMain);
}

.navbar ul li a i.logout {
  font-size: 1.5rem;
  -webkit-transition: var(--duration) ease-in-out;
  transition: var(--duration) ease-in-out;
}

.navbar ul li a i.logout:hover {
  color: var(--danger);
}

.navbar ul li a i.notifications {
  font-size: 1rem;
  -webkit-transition: var(--duration) ease-in-out;
  transition: var(--duration) ease-in-out;
}

@-webkit-keyframes move {
  0%, 100%, 50% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  25% {
    -webkit-transform: rotateZ(15deg);
            transform: rotateZ(15deg);
  }
  75% {
    -webkit-transform: rotateZ(-15deg);
            transform: rotateZ(-15deg);
  }
}

@keyframes move {
  0%, 100%, 50% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  25% {
    -webkit-transform: rotateZ(15deg);
            transform: rotateZ(15deg);
  }
  75% {
    -webkit-transform: rotateZ(-15deg);
            transform: rotateZ(-15deg);
  }
}

.navbar ul li a i.notifications:hover {
  -webkit-animation: move var(--duration-notifications);
          animation: move var(--duration-notifications);
  color: var(--notifications);
}

.navbar ul li a i.light {
  font-size: 1rem;
  -webkit-transition: var(--duration) ease-in-out;
  transition: var(--duration) ease-in-out;
}

.navbar ul li a i.light:hover {
  color: var(--light);
}

.navbar ul li a i.dark {
  font-size: 1rem;
  -webkit-transition: var(--duration) ease-in-out;
  transition: var(--duration) ease-in-out;
}

.navbar ul li a i.dark:hover {
  color: var(--dark);
}

.sidebar {
  height: 100vh;
}

.sidebar .logo {
  margin: 2rem 0 3rem 0;
  text-align: center;
}

.sidebar .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  margin-bottom: 2rem;
}

.sidebar .profile p {
  margin: 0;
}

.sidebar .profile .avatar {
  font-size: 5rem;
}

.sidebar .profile .name {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.sidebar .profile .role {
  font-size: 0.8rem;
  font-weight: 300;
}

.sidebar ul {
  margin: 0;
  padding: 0;
}

.sidebar ul a.active span, .sidebar ul a.active i {
  color: var(--main-color) !important;
}

.sidebar ul a.active li:before {
  content: '';
  position: relative;
  top: 0px;
  left: 0px;
  height: 40px;
  width: 5px;
  background-color: var(--main-color);
}

.sidebar ul a li.sidebar-items {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  place-items: center;
  width: 100%;
  height: 40px;
  list-style: none;
  cursor: pointer;
  -webkit-transition: var(--duration) ease-in-out;
  transition: var(--duration) ease-in-out;
}

.sidebar ul a li.sidebar-items:hover {
  background-color: var(--bgColorMain);
}

.sidebar ul a li.sidebar-items i {
  font-size: 1.5rem;
  width: 33px;
  margin: 0 15px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main {
  max-width: 100%;
  border-radius: 25px;
  margin: 5px 30px 30px 0px;
  padding: 30px 35px;
}

main div.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main div.row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 32.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

@media only screen and (max-width: 650px) {
  .col-sm-1 {
    min-width: 8.33%;
  }
  .col-sm-2 {
    min-width: 16.66%;
  }
  .col-sm-3 {
    min-width: 25%;
  }
  .col-sm-4 {
    min-width: 32.33%;
  }
  .col-sm-5 {
    min-width: 41.66%;
  }
  .col-sm-6 {
    min-width: 50%;
  }
  .col-sm-7 {
    min-width: 58.33%;
  }
  .col-sm-8 {
    min-width: 66.66%;
  }
  .col-sm-9 {
    min-width: 75%;
  }
  .col-sm-10 {
    min-width: 83.33%;
  }
  .col-sm-11 {
    min-width: 91.66%;
  }
  .col-sm-12 {
    min-width: 100%;
  }
}

div.card-border-success {
  background: linear-gradient(35deg, var(--card-border-black) 60%, var(--success) 100%);
  border-radius: 20px;
}

div.card-border-danger {
  background: linear-gradient(35deg, var(--card-border-black) 60%, var(--danger) 100%);
  border-radius: 20px;
}

div.card-border-warning {
  background: linear-gradient(35deg, var(--card-border-black) 60%, var(--warning) 100%);
  border-radius: 20px;
}

div.card-border-default {
  background: linear-gradient(35deg, var(--card-border-black) 60%, var(--card-border-default) 100%);
  border-radius: 20px;
}

div.card-success {
  background: linear-gradient(35deg, var(--card-content-black) 60%, var(--success) 100%);
}

div.card-danger {
  background: linear-gradient(35deg, var(--card-content-black) 60%, var(--danger) 100%);
}

div.card-warning {
  background: linear-gradient(35deg, var(--card-content-black) 60%, var(--warning) 100%);
}

div.card-default {
  background: linear-gradient(35deg, var(--card-content-black) 60%, var(--card-border-default) 100%);
}

div.card {
  padding: 20px;
  width: 100%;
  height: 100%;
  color: var(--colorText);
  background-clip: padding-box;
  /* !importanté */
  border: solid 2px transparent;
  /* !importanté */
  border-radius: 20px;
}

div.card .card-header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.card .card-header .pointer {
  cursor: pointer;
}

div.card .card-header .card-menu {
  position: relative;
  display: inline-block;
}

div.card .card-header .card-menu .dropdown-content {
  position: absolute;
  right: 10px;
  display: none;
  background: rgba(255, 255, 255, 0.603);
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid #ebebeb71;
  border-top-right-radius: 0;
  min-width: 160px;
  overflow: auto;
  z-index: 1;
}

div.card .card-header .card-menu .dropdown-content a {
  width: 100%;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  place-items: center;
}

div.card .card-header .card-menu .dropdown-content a:hover {
  background-color: rgba(221, 221, 221, 0.877);
}

div.card .card-header .card-menu .dropdown-content a img, div.card .card-header .card-menu .dropdown-content a svg {
  width: 20px;
}

div.card .card-header .card-menu .show {
  display: block;
}

div.card .card-body {
  font-size: 0.8rem;
  font-weight: 400;
}

a.btn-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

a.btn-flex .btn {
  padding: 12px 20px;
  line-height: 120%;
  font-weight: 500;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.btn-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.btn-success {
  background: var(--success);
  border: 1px solid var(--success-border);
  -webkit-transition: var(--duration) ease-out;
  transition: var(--duration) ease-out;
}

.btn-success:hover, .btn-success focus {
  background: var(--success-hover);
  -webkit-box-shadow: 0 2px 10px 0 var(--success-shadow);
          box-shadow: 0 2px 10px 0 var(--success-shadow);
}

.btn-outline-success {
  color: var(--colorText);
  border: 1px solid var(--success-border);
  -webkit-transition: var(--duration) ease-out;
  transition: var(--duration) ease-out;
}

.btn-outline-success:hover, .btn-outline-success focus {
  background: var(--success-hover);
  -webkit-box-shadow: 0 2px 10px 0 var(--success-shadow);
          box-shadow: 0 2px 10px 0 var(--success-shadow);
}

.btn-danger {
  background: var(--danger);
  border: 1px solid var(--danger-border);
  -webkit-transition: var(--duration) ease-out;
  transition: var(--duration) ease-out;
}

.btn-danger:hover, .btn-danger focus {
  background: var(--danger-hover);
  -webkit-box-shadow: 0 2px 10px 0 var(--danger-shadow);
          box-shadow: 0 2px 10px 0 var(--danger-shadow);
}

.btn-outline-danger {
  color: var(--colorText);
  border: 1px solid var(--danger-border);
  -webkit-transition: var(--duration) ease-out;
  transition: var(--duration) ease-out;
}

.btn-outline-danger:hover, .btn-outline-danger focus {
  background: var(--danger-hover);
  -webkit-box-shadow: 0 2px 10px 0 var(--danger-shadow);
          box-shadow: 0 2px 10px 0 var(--danger-shadow);
}

.btn-warning {
  background: var(--warning);
  border: 1px solid var(--warning-border);
  -webkit-transition: var(--duration) ease-out;
  transition: var(--duration) ease-out;
}

.btn-warning:hover, .btn-warning focus {
  background: var(--warning-hover);
  -webkit-box-shadow: 0 2px 10px 0 var(--warning-shadow);
          box-shadow: 0 2px 10px 0 var(--warning-shadow);
}

.btn-outline-warning {
  color: var(--colorText);
  border: 1px solid var(--warning-border);
  -webkit-transition: var(--duration) ease-out;
  transition: var(--duration) ease-out;
}

.btn-outline-warning:hover, .btn-outline-warning focus {
  background: var(--warning-hover);
  -webkit-box-shadow: 0 2px 10px 0 #b1813e69;
          box-shadow: 0 2px 10px 0 #b1813e69;
}

.btn-default {
  color: var(--black-color) !important;
  background: var(--default);
  border: 1px solid var(--default-border);
  -webkit-transition: var(--duration) ease-out;
  transition: var(--duration) ease-out;
}

.btn-default:hover, .btn-default focus {
  background: var(--default-hover);
  -webkit-box-shadow: 0 2px 10px 0 var(--default-shadow);
          box-shadow: 0 2px 10px 0 var(--default-shadow);
}

.btn-outline-default {
  color: var(--colorText);
  border: 1px solid var(--default-border);
  -webkit-transition: var(--duration) ease-out;
  transition: var(--duration) ease-out;
}

.btn-outline-default:hover, .btn-outline-default focus {
  color: #161616;
  background: var(--default-hover);
  -webkit-box-shadow: 0 2px 10px 0 var(--default-shadow);
          box-shadow: 0 2px 10px 0 var(--default-shadow);
}

.btn-blue {
  background: var(--blue);
  border: 1px solid var(--blue-border);
  -webkit-transition: var(--duration) ease-out;
  transition: var(--duration) ease-out;
}

.btn-blue:hover, .btn-blue focus {
  background: var(--blue-hover);
  -webkit-box-shadow: 0 2px 10px 0 var(--blue-shadow);
          box-shadow: 0 2px 10px 0 var(--blue-shadow);
}

.btn-outline-blue {
  color: var(--colorText);
  border: 1px solid var(--blue-border);
  -webkit-transition: var(--duration) ease-out;
  transition: var(--duration) ease-out;
}

.btn-outline-blue:hover, .btn-outline-blue focus {
  background: var(--blue-hover);
  -webkit-box-shadow: 0 5px 10px 5px var(--blue-shadow);
          box-shadow: 0 5px 10px 5px var(--blue-shadow);
}

@media only screen and (max-width: 650px) {
  .btn {
    padding: 10px 16px;
    font-size: 0.9rem;
    min-width: 40px;
    height: 40px;
  }
}
/*# sourceMappingURL=index.css.map */