@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './base/settings';
@import './base/base';
@import './base/animations';

// Auth 
@import './components/auth/auth';

// Layout
@import './components/layout/main/main';
@import './components/layout/navbar/navbar';
@import './components/layout/sidebar/sidebar';

// Pages
@import './components/pages/userscreen';

// UI 
@import './components/ui/btn/btn';
@import './components/ui/card/card';
@import './components/ui/form/form';
@import './components/ui/loading/loading';
@import './components/ui/table/table';
@import './components/ui/tooltip/tooltip';

// Shared
@import './components/shared/date/dateComponent';
@import './components/shared/modal/modal';
