@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --danger: #EF796D;
  --danger-border: #9e4e45;
  --danger-hover: #dd5444;
  --danger-shadow: #b35d5369;
  --success: #20BFA9;
  --success-border: #126156;
  --success-hover: #199382;
  --success-shadow: #18867769;
  --warning: #FEB95A;
  --warning-border: #b1813e;
  --warning-hover: #fea327;
  --warning-shadow: #b1813e69;
  --default: #eee;
  --default-border: #acacac;
  --default-hover:#dddada;
  --default-shadow:#acacac69;
  --blue: #3f78ce;
  --blue-border: #3161a8;
  --blue-hover: #2c60ae;
  --blue-shadow:#2b5594a4;
  --card-border-success: #39ffe5;
  --card-border-danger: #ff988c;
  --card-border-warning: #f8cc8e;
  --card-border-default: #ffffff;
  --card-border-blue: #71a2ec;
  --banner-border-success: #39ffe5;
  --banner-border-danger: #ff988c;
  --banner-border-warning: #f8cc8e;
  --banner-border-default: #ffffff;
  --banner-border-blue: #71a2ec;
  --table-border-black: #0b0a0f82;
  --main-color: #3f78ce;
  --notifications: #b47f1d;
  --light: #b47f1d;
  --dark: #4754c7;
  --duration: 0.2s;
  --duration-notifications: 0.3s;
  --black-color: #1b1b1b;
  --white-color: #eee;
}

html[data-theme='dark'] {
  --colorText: #eee;
  --bgColorMain: #232228;
  --bgColorNav: #0B0A0F;
  --active:#3f78ce;
  --shadow-color: #0B0A0F;
  --shadow-dark: #030303;
  --card-content-black: #1B1A1F;
  --card-border-black: #111111;
  --card-content-default: #eee;
  --card-border-default: #eee;
  --banner-content-black: #1B1A1F;
  --banner-border-black: #111111;
  --banner-content-default: #eee;
  --banner-border-default: #eee;
  --banner-figure-blue: #192d4b;
  --banner-figure-success: #116358;
  --banner-figure-danger: #80413a;
  --banner-figure-warning: #79582b;
  --banner-figure-default: #797979;
  --banner-shadow-1: #141417;
  --banner-shadow-2: #222127;
  --table-border-color: ;
  --thead-color: #25426d;
  --tr-Hover-color: #252e3f;
  --table-border-black: #0b0a0f82;
  --opacity: 0.5;
  --modalHeader: #232228;
  --modalBody: #2c2b31;
  --modalBorder: #161616;
}

html[data-theme='light'] {
  --colorText: #1b1b1b;
  --bgColorMain: #d5d8dd;
  --bgColorNav:#EBEBF5;
  --active:#2e5896;
  --shadow-color: #8c8f92;
  --shadow-dark: #2c2c2c;
  --card-content-black: #e2e2e2;
  --card-border-black: #cccccc;
  --card-content-default: #242424;
  --card-border-default: #0f0f0f;
  --banner-content-black: #ebebeb;
  --banner-border-black: #ccc;
  --banner-content-default: #ebebeb;
  --banner-border-default: #ccc;
  --banner-figure-blue: #aabcdb;
  --banner-figure-success: #97d1c9;
  --banner-figure-danger: #d4a29c;
  --banner-figure-warning: #cfb999;
  --banner-figure-default: #b4b4b4;
  --banner-shadow-1: #c8c8c8;
  --banner-shadow-2: #ffffff;
  --table-border-color: ;
  --thead-color: #91b2e0;
  --tr-Hover-color: #acacac;
  --table-border-black: #3f618082;
  --opacity: 1;
  --modalHeader: #dadada;
  --modalBody: #e6e6e6;
  --modalBorder: #d1d1d1;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5 {
  margin: 0px;
  padding: 0px;
}

html, body, #root {
  height: 100vh;
  font-size: 14px;
}

body,
input,
button,
select,
textarea {
  font-family: 'Montserrat', sands-serif;
  color: var(--colorText);
}

ul, ol {
  margin: 0px;
  padding: 0px;
}

.wrapper {
  background-color: var(--bgColorNav);
  overflow-x: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 70px auto;
      grid-template-rows: 70px auto;
  -ms-grid-columns: 250px auto;
      grid-template-columns: 250px auto;
}

main {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  background-color: var(--bgColorMain);
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  background-color: var(--bgColorNav);
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  background-color: var(--bgColorNav);
}

a {
  text-decoration: none;
  color: var(--colorText);
}

.mt-1 {
  margin-top: 5px;
}

.mt-2 {
  margin-top: 10px;
}

.mt-3 {
  margin-top: 15px;
}

.mt-4 {
  margin-top: 20px;
}

.mt-5 {
  margin-top: 25px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-2 {
  margin-bottom: 10px;
}

.mb-3 {
  margin-bottom: 15px;
}

.mb-4 {
  margin-bottom: 20px;
}

.mb-5 {
  margin-bottom: 25px;
}

.ml-1 {
  margin-left: 5px;
}

.ml-2 {
  margin-left: 10px;
}

.ml-3 {
  margin-left: 15px;
}

.ml-4 {
  margin-left: 20px;
}

.ml-5 {
  margin-left: 25px;
}

.mr-1 {
  margin-right: 5px;
}

.mr-2 {
  margin-right: 10px;
}

.mr-3 {
  margin-right: 15px;
}

.mr-4 {
  margin-right: 20px;
}

.mr-5 {
  margin-right: 25px;
}

.m-1 {
  margin: 5px;
}

.m-2 {
  margin: 10px;
}

.m-3 {
  margin: 15px;
}

.m-4 {
  margin: 20px;
}

.m-5 {
  margin: 25px;
}

.mx-1 {
  margin: 0 5px;
}

.mx-2 {
  margin: 0 10px;
}

.mx-3 {
  margin: 0 15px;
}

.mx-4 {
  margin: 0 20px;
}

.mx-5 {
  margin: 0 25px;
}

.my-1 {
  margin: 5px 0;
}

.my-2 {
  margin: 10px 0;
}

.my-3 {
  margin: 15px 0;
}

.my-4 {
  margin: 20px 0;
}

.my-5 {
  margin: 25px 0;
}

.mx-auto {
  margin: 0 auto;
}

.my-auto {
  margin: auto 0;
}

.pt-1 {
  padding-top: 5px;
}

.pt-2 {
  padding-top: 10px;
}

.pt-3 {
  padding-top: 15px;
}

.pt-4 {
  padding-top: 20px;
}

.pt-5 {
  padding-top: 25px;
}

.pb-1 {
  padding-bottom: 5px;
}

.pb-2 {
  padding-bottom: 10px;
}

.pb-3 {
  padding-bottom: 15px;
}

.pb-4 {
  padding-bottom: 20px;
}

.pb-5 {
  padding-bottom: 25px;
}

.pl-1 {
  padding-left: 5px;
}

.pl-2 {
  padding-left: 10px;
}

.pl-3 {
  padding-left: 15px;
}

.pl-4 {
  padding-left: 20px;
}

.pl-5 {
  padding-left: 25px;
}

.pr-1 {
  padding-right: 5px;
}

.pr-2 {
  padding-right: 10px;
}

.pr-3 {
  padding-right: 15px;
}

.pr-4 {
  padding-right: 20px;
}

.pr-5 {
  padding-right: 25px;
}

.p-1 {
  padding: 5px;
}

.p-2 {
  padding: 10px;
}

.p-3 {
  padding: 15px;
}

.p-4 {
  padding: 20px;
}

.p-5 {
  padding: 25px;
}

.px-auto {
  padding: 0 auto;
}

.py-auto {
  padding: auto 0;
}

.overflow-h {
  overflow: hidden;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.d-none {
  display: none !important;
}

.flex-break {
  width: 100%;
  height: 0px;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.text-center {
  text-align: center !important;
}

.justify-content-center {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.justify-content-end {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

.justify-content-se {
  -webkit-box-pack: space-evenly !important;
      -ms-flex-pack: space-evenly !important;
          justify-content: space-evenly !important;
}

.justify-content-sb {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.justify-content-sa {
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
}

.justify-items-center {
  justify-items: center !important;
}

.justify-self-center {
  -ms-grid-column-align: center !important;
      justify-self: center !important;
}

.justify-self-start {
  -ms-grid-column-align: self-start !important;
      justify-self: self-start !important;
}

.align-content-center {
  -ms-flex-line-pack: center !important;
      align-content: center !important;
}

.align-items-center {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.align-items-start {
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
}

.align-items-end {
  -webkit-box-align: end !important;
      -ms-flex-align: end !important;
          align-items: flex-end !important;
}

.align-self-center {
  -ms-flex-item-align: center !important;
      -ms-grid-row-align: center !important;
      align-self: center !important;
}

.place-content-center {
  place-content: center !important;
}

.place-items-center {
  place-items: center !important;
}

.place-self-center {
  place-self: center !important;
}

.bg-color {
  background: var(--bgColorMain);
}

.text-color {
  color: var(--colorText) !important;
}

.pointer {
  cursor: pointer;
}

@-webkit-keyframes slideToLeft {
  from {
    width: 0;
  }
  to {
    width: auto;
  }
}

@keyframes slideToLeft {
  from {
    width: 0;
  }
  to {
    width: auto;
  }
}

@-webkit-keyframes fade {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}

@keyframes fade {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}

.wrapper-auth {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--bgColorNav);
}

div.container-auth {
  max-width: 400px;
  padding: 3px;
  position: relative;
  border-radius: 10px;
  background: linear-gradient(30deg, var(--card-border-black) 60%, var(--card-border-blue) 100%);
}

div.container-auth .logo {
  place-items: center;
  text-align: center;
  margin: 2rem 0;
}

div.container-auth .content {
  color: var(--colorText);
  padding: 3px;
  background: linear-gradient(30deg, var(--card-content-black) 60%, var(--blue) 100%);
  border-radius: 10px;
}

div.row-auth {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
  padding: 0.2rem 0.7rem;
}

form.auth label {
  width: 100%;
  padding-bottom: 2px;
  color: var(--colorText);
  font-weight: 400;
}

form.auth button.visible {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  position: absolute;
  bottom: 6px;
  right: 0;
  color: var(--main-color);
}

form.auth button.visible:focus {
  outline: none;
}

form.auth input {
  color: var(--black-color);
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 5px;
  font-weight: 600;
}

form.auth input:focus {
  outline: none;
}

.auth-footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.auth-footer a {
  font-size: 0.75rem;
  font-weight: 400;
}

main {
  max-width: 100%;
  border-radius: 5px;
  margin: 5px 30px 30px 0px;
  padding: 30px 35px;
  position: relative;
}

div.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 100%;
}

div.row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
}

div.subrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 24%;
}

.col-4 {
  width: 32.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 49%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.h-fit {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media only screen and (max-width: 650px) {
  .col-sm-1 {
    min-width: 8.33%;
  }
  .col-sm-2 {
    min-width: 16.66%;
  }
  .col-sm-3 {
    min-width: 24%;
  }
  .col-sm-4 {
    min-width: 32.33%;
  }
  .col-sm-5 {
    min-width: 41.66%;
  }
  .col-sm-6 {
    min-width: 49%;
  }
  .col-sm-7 {
    min-width: 58.33%;
  }
  .col-sm-8 {
    min-width: 66.66%;
  }
  .col-sm-9 {
    min-width: 75%;
  }
  .col-sm-10 {
    min-width: 83.33%;
  }
  .col-sm-11 {
    min-width: 91.66%;
  }
  .col-sm-12 {
    min-width: 100%;
  }
}

.navbar nav {
  height: 100%;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  height: 100%;
  width: 100%;
}

.navbar ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  place-items: center;
  padding: 10px;
  margin-right: 15px;
  border-radius: 50%;
  background-color: var(--bgColorMain);
}

.navbar ul li a i.logout {
  font-size: 1.5rem;
  -webkit-transition: var(--duration) ease-in-out;
  transition: var(--duration) ease-in-out;
}

.navbar ul li a i.logout:hover {
  color: var(--danger);
}

.navbar ul li a i.notifications {
  font-size: 1rem;
  -webkit-transition: var(--duration) ease-in-out;
  transition: var(--duration) ease-in-out;
}

@-webkit-keyframes move {
  0%, 100%, 50% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  25% {
    -webkit-transform: rotateZ(15deg);
            transform: rotateZ(15deg);
  }
  75% {
    -webkit-transform: rotateZ(-15deg);
            transform: rotateZ(-15deg);
  }
}

@keyframes move {
  0%, 100%, 50% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  25% {
    -webkit-transform: rotateZ(15deg);
            transform: rotateZ(15deg);
  }
  75% {
    -webkit-transform: rotateZ(-15deg);
            transform: rotateZ(-15deg);
  }
}

.navbar ul li a i.notifications:hover {
  -webkit-animation: move var(--duration-notifications);
          animation: move var(--duration-notifications);
  color: var(--notifications);
}

.sidebar {
  height: 100vh;
}

.sidebar .logo {
  margin: 2rem 0 3rem 0;
  text-align: center;
}

.sidebar .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  margin-bottom: 2rem;
}

.sidebar .profile p {
  margin: 0;
}

.sidebar .profile .avatar {
  font-size: 5rem;
}

.sidebar .profile img {
  width: 125px;
  -webkit-clip-path: circle(45% at 50% 50%);
          clip-path: circle(45% at 50% 50%);
}

.sidebar .profile .name {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.sidebar .profile .role {
  font-size: 0.8rem;
  font-weight: 300;
}

.sidebar ul {
  margin: 0;
  padding: 0;
}

.sidebar ul a.active span, .sidebar ul a.active i {
  color: var(--main-color) !important;
}

.sidebar ul a.active li:before {
  content: '';
  position: relative;
  top: 0px;
  left: 0px;
  height: 40px;
  width: 5px;
  background-color: var(--main-color);
}

.sidebar ul a li.sidebar-items {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  place-items: center;
  width: 100%;
  height: 40px;
  list-style: none;
  cursor: pointer;
  -webkit-transition: var(--duration) ease-in-out;
  transition: var(--duration) ease-in-out;
}

.sidebar ul a li.sidebar-items:hover {
  background-color: var(--bgColorMain);
}

.sidebar ul a li.sidebar-items i {
  font-size: 1.5rem;
  width: 33px;
  margin: 0 15px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.avatar {
  position: relative;
}

.avatar img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: -2rem;
}

.avatar .avatar-profile {
  width: 100%;
}

.avatar i.btn-options {
  position: absolute;
  color: var(--black-color);
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  -webkit-text-stroke: 1px transparent;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.247);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.247);
  -webkit-transition: var(--duration) ease-in-out;
  transition: var(--duration) ease-in-out;
}

.avatar i.btn-options.edit-avatar {
  background-color: var(--warning);
  right: 55px;
  bottom: -15px;
}

.avatar i.btn-options.edit-avatar:hover {
  background-color: var(--bgColorMain);
  border: 1px solid var(--warning);
  color: var(--warning);
  -webkit-text-stroke: 1px #252525;
}

.avatar i.btn-options.delete-avatar {
  background-color: var(--danger);
  right: 15px;
  bottom: -15px;
}

.avatar i.btn-options.delete-avatar:hover {
  background-color: var(--bgColorMain);
  border: 1px solid var(--danger);
  color: var(--danger);
  -webkit-text-stroke: 1px #252525;
}

.alert {
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.alert ul {
  margin-left: 1.5rem;
}

.alert ul li {
  font-size: 0.9rem;
}

.alert-danger {
  background-color: var(--danger);
  border: 2px solid var(--banner-figure-danger);
}

a.btn-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

button, .btn {
  padding: 12px 20px;
  line-height: 120%;
  font-weight: 500;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-height: 100%;
  border-radius: 5px;
  cursor: pointer;
}

button:hover, button focus, .btn:hover, .btn focus {
  -webkit-box-shadow: 0 2px 25px 0px var(--shadow-color) !important;
          box-shadow: 0 2px 25px 0px var(--shadow-color) !important;
}

.btn-sm {
  padding: 7px 16px;
}

.btn-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.btn-float {
  position: absolute;
  bottom: 25px;
  right: 50px;
}

.btn-float i {
  font-size: 1.2rem;
  padding: 5px;
  height: 25px;
  width: 25px;
}

.btn-float span {
  display: none;
  font-size: 1.2rem;
}

.btn-float:hover span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.btn-success {
  background: var(--success);
  border: 1px solid var(--success-border);
  -webkit-transition: var(--duration) ease-out;
  transition: var(--duration) ease-out;
}

.btn-success:hover, .btn-success focus {
  background: var(--success-hover);
}

.btn-outline-success {
  color: var(--colorText);
  background: transparent;
  border: 1px solid var(--success-border);
  -webkit-transition: var(--duration) ease-out;
  transition: var(--duration) ease-out;
}

.btn-outline-success:hover, .btn-outline-success focus {
  background: var(--success-hover);
}

.btn-danger {
  background: var(--danger);
  border: 1px solid var(--danger-border);
  -webkit-transition: var(--duration) ease-out;
  transition: var(--duration) ease-out;
}

.btn-danger:hover, .btn-danger focus {
  background: var(--danger-hover);
}

.btn-outline-danger {
  color: var(--colorText);
  background: transparent;
  border: 1px solid var(--danger-border);
  -webkit-transition: var(--duration) ease-out;
  transition: var(--duration) ease-out;
}

.btn-outline-danger:hover, .btn-outline-danger focus {
  background: var(--danger-hover);
}

.btn-warning {
  background: var(--warning);
  border: 1px solid var(--warning-border);
  -webkit-transition: var(--duration) ease-out;
  transition: var(--duration) ease-out;
}

.btn-warning:hover, .btn-warning focus {
  background: var(--warning-hover);
  -webkit-box-shadow: 0 2px 10px 0 var(--warning-shadow);
          box-shadow: 0 2px 10px 0 var(--warning-shadow);
}

.btn-outline-warning {
  color: var(--colorText);
  background: transparent;
  border: 1px solid var(--warning-border);
  -webkit-transition: var(--duration) ease-out;
  transition: var(--duration) ease-out;
}

.btn-outline-warning:hover, .btn-outline-warning focus {
  background: var(--warning-hover);
}

.btn-default {
  color: var(--black-color) !important;
  background: var(--default);
  border: 1px solid var(--default-border);
  -webkit-transition: var(--duration) ease-out;
  transition: var(--duration) ease-out;
}

.btn-default:hover, .btn-default focus {
  background: var(--default-hover);
}

.btn-outline-default {
  color: var(--colorText);
  background: transparent;
  border: 1px solid var(--default-border);
  -webkit-transition: var(--duration) ease-out;
  transition: var(--duration) ease-out;
}

.btn-outline-default:hover, .btn-outline-default focus {
  color: #161616;
  background: var(--default-hover);
}

.btn-blue {
  background: var(--blue);
  border: 1px solid var(--blue-border);
  -webkit-transition: var(--duration) ease-out;
  transition: var(--duration) ease-out;
}

.btn-blue:hover, .btn-blue focus {
  background: var(--blue-hover);
}

.btn-outline-blue {
  color: var(--colorText);
  background: transparent;
  border: 1px solid var(--blue-border);
  -webkit-transition: var(--duration) ease-out;
  transition: var(--duration) ease-out;
}

.btn-outline-blue:hover, .btn-outline-blue focus {
  background: var(--blue-hover);
}

.btn-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  max-width: 2.4rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: var(--black-color);
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.247);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.247);
  -webkit-transition: var(--duration) ease-in-out;
  transition: var(--duration) ease-in-out;
  cursor: pointer;
}

.btn-options i {
  width: 1.1rem !important;
  height: 1.1rem !important;
}

.btn-create-full {
  color: var(--colorText);
  background: var(--success);
  border: 1px solid var(--success);
}

.btn-create {
  color: var(--success);
  background: var(--bgColorMain);
  border: 1px solid var(--success);
  -webkit-transition: var(--duration) ease-in-out;
  transition: var(--duration) ease-in-out;
}

.btn-create i {
  -webkit-text-stroke: 1px #0a3c35;
}

.btn-create i:hover {
  -webkit-text-stroke: 1px transparent;
}

.btn-create:hover {
  background: var(--success);
  border: 1px solid transparent;
  color: var(--colorText);
}

.btn-edit {
  color: var(--warning);
  background: var(--bgColorMain);
  border: 1px solid var(--warning);
  -webkit-transition: var(--duration) ease-in-out;
  transition: var(--duration) ease-in-out;
}

.btn-edit i {
  -webkit-text-stroke: 1px #be6e01;
}

.btn-edit i:hover {
  -webkit-text-stroke: 1px transparent;
}

.btn-edit:hover {
  background: var(--warning);
  border: 1px solid transparent;
  color: var(--colorText);
}

.btn-delete {
  color: var(--danger);
  background: var(--bgColorMain);
  border: 1px solid var(--danger);
  -webkit-transition: var(--duration) ease-in-out;
  transition: var(--duration) ease-in-out;
}

.btn-delete i {
  -webkit-text-stroke: 1px #b02213;
}

.btn-delete i:hover {
  -webkit-text-stroke: 1px transparent;
}

.btn-delete:hover {
  color: var(--colorText);
  background: var(--danger);
  border: 1px solid transparent;
}

button:focus {
  outline: none;
}

button:hover {
  outline: none;
}

@media only screen and (max-width: 650px) {
  .btn {
    padding: 10px 16px;
    font-size: 0.9rem;
    min-width: 40px;
    height: 40px;
  }
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background: var(--banner-content-black);
  border-radius: 5px;
  background-clip: padding-box;
  border: 2px solid transparent;
  padding: 1rem;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.banner .circle {
  position: absolute;
  border-radius: 50%;
}

.banner .circle:nth-child(1) {
  top: -50px;
  left: -35px;
  width: 150px;
  height: 150px;
}

.banner .circle:nth-child(2) {
  bottom: 20px;
  left: 90px;
  width: 70px;
  height: 70px;
}

.banner .circle:nth-child(3) {
  top: 25px;
  left: 160px;
  width: 30px;
  height: 30px;
}

.banner .rectangle {
  position: absolute;
  border-radius: 5px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.banner .rectangle:nth-child(1) {
  top: 30px;
  right: 280px;
  width: 150px;
  height: 30px;
}

.banner .rectangle:nth-child(2) {
  top: -5px;
  right: 290px;
  width: 70px;
  height: 30px;
}

.banner .rectangle:nth-child(3) {
  top: 90px;
  right: 147px;
  width: 170px;
  height: 30px;
}

.banner .square {
  position: absolute;
  border-radius: 5px;
}

.banner .square:nth-child(1) {
  top: -30px;
  right: 280px;
  -webkit-transform: rotateZ(60deg);
          transform: rotateZ(60deg);
  width: 170px;
  height: 170px;
}

.banner .square:nth-child(2) {
  top: -5px;
  right: 215px;
  -webkit-transform: rotateZ(40deg);
          transform: rotateZ(40deg);
  width: 50px;
  height: 50px;
}

.banner .square:nth-child(3) {
  top: 65px;
  right: 215px;
  -webkit-transform: rotateZ(70deg);
          transform: rotateZ(70deg);
  width: 25px;
  height: 25px;
}

.banner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  place-items: center;
  color: var(--colorText);
  max-width: 70%;
  padding-left: 2rem;
  z-index: 2;
}

.banner-content p {
  margin: 0;
  font-size: 4rem;
}

.banner-icon {
  width: 30%;
  text-align: center;
}

.banner-icon i {
  border-radius: 50%;
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
  -webkit-box-shadow: 5px 5px 10px var(--banner-shadow-1), -5px -5px 10px var(--banner-shadow-2);
          box-shadow: 5px 5px 10px var(--banner-shadow-1), -5px -5px 10px var(--banner-shadow-2);
}

.banner-border {
  border-radius: 5px;
}

.banner-border-blue {
  background: linear-gradient(-35deg, var(--banner-border-black) 73%, var(--main-color) 100%);
}

.banner-border-success {
  background: linear-gradient(-35deg, var(--banner-border-black) 73%, var(--success) 100%);
}

.banner-border-danger {
  background: linear-gradient(-35deg, var(--banner-border-black) 73%, var(--danger) 100%);
}

.banner-border-warning {
  background: linear-gradient(-35deg, var(--banner-border-black) 73%, var(--warning) 100%);
}

.banner-border-default {
  background: linear-gradient(-35deg, var(--banner-border-black) 73%, var(--banner-border-default) 100%);
}

.circle-blue {
  background: var(--banner-figure-blue);
}

.circle-success {
  background: var(--banner-figure-success);
}

.circle-danger {
  background: var(--banner-figure-danger);
}

.circle-warning {
  background: var(--banner-figure-warning);
}

.circle-default {
  background: var(--banner-figure-default);
}

.square-blue {
  background: var(--banner-figure-blue);
}

.square-success {
  background: var(--banner-figure-success);
}

.square-danger {
  background: var(--banner-figure-danger);
}

.square-warning {
  background: var(--banner-figure-warning);
}

.square-default {
  background: var(--banner-figure-default);
}

.rectangle-blue {
  background: var(--banner-figure-blue);
}

.rectangle-success {
  background: var(--banner-figure-success);
}

.rectangle-danger {
  background: var(--banner-figure-danger);
}

.rectangle-warning {
  background: var(--banner-figure-warning);
}

.rectangle-default {
  background: var(--banner-figure-default);
}

div.card-border-success {
  background: linear-gradient(35deg, var(--card-border-black) 60%, var(--success) 100%);
  border-radius: 5px;
}

div.card-border-danger {
  background: linear-gradient(35deg, var(--card-border-black) 60%, var(--danger) 100%);
  border-radius: 5px;
}

div.card-border-warning {
  background: linear-gradient(35deg, var(--card-border-black) 60%, var(--warning) 100%);
  border-radius: 5px;
}

div.card-border-default {
  background: linear-gradient(35deg, var(--card-border-black) 60%, var(--card-border-default) 100%);
  border-radius: 5px;
}

div.card-border-blue {
  background: linear-gradient(35deg, var(--card-border-black) 60%, var(--card-border-blue) 100%);
  border-radius: 5px;
}

div.card-success {
  background: linear-gradient(35deg, var(--card-content-black) 60%, var(--success) 100%);
}

div.card-danger {
  background: linear-gradient(35deg, var(--card-content-black) 60%, var(--danger) 100%);
}

div.card-warning {
  background: linear-gradient(35deg, var(--card-content-black) 60%, var(--warning) 100%);
}

div.card-default {
  background: linear-gradient(35deg, var(--card-content-black) 60%, var(--card-border-default) 100%);
}

div.card-blue {
  background: linear-gradient(35deg, var(--card-content-black) 60%, var(--blue) 100%);
}

div.card {
  padding: 20px;
  width: 100%;
  height: 100%;
  color: var(--colorText);
  background-clip: padding-box;
  /* !importanté */
  border: solid 2px transparent;
  /* !importanté */
  border-radius: 5px;
}

div.card .card-header > div {
  font-size: 1.2rem;
  font-weight: 600;
}

div.card .card-header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.card .card-header .pointer {
  cursor: pointer;
}

div.card .card-header .card-menu {
  position: relative;
  display: inline-block;
}

div.card .card-header .card-menu .dropdown-content {
  position: absolute;
  right: 10px;
  display: none;
  background: rgba(255, 255, 255, 0.603);
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid #ebebeb71;
  border-top-right-radius: 0;
  min-width: 160px;
  overflow: auto;
  z-index: 1;
}

div.card .card-header .card-menu .dropdown-content div {
  width: 100%;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  place-items: center;
}

div.card .card-header .card-menu .dropdown-content div:hover {
  background-color: rgba(221, 221, 221, 0.877);
}

div.card .card-header .card-menu .dropdown-content div img, div.card .card-header .card-menu .dropdown-content div svg {
  width: 20px;
}

div.card .card-header .card-menu .show {
  display: block;
}

div.card .card-body {
  font-size: 0.9rem;
  font-weight: 400;
  overflow: hidden;
}

div.card .card-body input {
  padding: 5px;
  border: none;
  border-radius: 5px;
  color: var(--black-color);
}

div.card .card-body input:focus {
  outline: none;
  outline: 2px solid var(--main-color);
  -moz-outline-radius: 5px;
}

div.card .card-body input:disabled {
  background: transparent;
  color: var(--colorText);
}

div.card .card-body label {
  font-weight: bold;
}

div.card .card-body .avatar {
  font-size: 10rem;
  margin: 1rem 0;
}

div.card .active-user, div.card .banned-user {
  font-size: 5rem;
  margin: 0;
}

form .form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

form label {
  padding-bottom: 5px;
  color: var(--colorText);
  font-weight: 400;
}

form input,
form textarea,
form select {
  color: var(--black-color);
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin: 3px 0 10px 0;
  font-weight: 600;
}

form input:focus,
form textarea:focus,
form select:focus {
  outline: none;
}

form .option {
  color: var(--black-color);
  font-size: 0.9rem;
  font-weight: 500;
}

form textarea {
  min-height: 75px;
}

form input[type=number] {
  padding: 6px 5px;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  place-items: center;
}

.btn-add-pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px auto;
  width: 75px;
  height: 75px;
  border-radius: 5px;
  border: 2px dotted var(--colorText);
  -webkit-transition: var(--duration) ease-in-out;
  transition: var(--duration) ease-in-out;
}

.btn-add-pictures:hover {
  border: 2px dotted var(--success);
}

.btn-add-pictures i {
  font-size: 2rem;
  width: 100%;
  text-align: center;
  -webkit-transition: var(--duration) ease-in-out;
  transition: var(--duration) ease-in-out;
}

.btn-add-pictures i:hover {
  color: var(--success);
  font-size: 2.5rem;
}

.product-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.product-gallery .picture {
  position: relative;
  margin: 5px;
  width: 45%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.product-gallery .picture img {
  width: 100%;
  z-index: 0;
}

.product-gallery .picture i {
  position: absolute;
  padding: 0.4rem 0.6rem;
  top: -2px;
  left: -2px;
  border-radius: 5px;
  background: var(--danger);
  color: var(--colorText);
  cursor: pointer;
  z-index: 1;
}

.loadingScreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  place-items: center;
}

.loadingScreen h2 {
  margin-top: 1rem;
  color: var(--colorText);
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  -webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--colorText);
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
          animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
          animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
          animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
          animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
          animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
          animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
          animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@-webkit-keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
}

table thead, table tbody {
  min-width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

table thead tr, table tbody tr {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

table thead tr th, table thead tr td, table tbody tr th, table tbody tr td {
  text-align: left;
  overflow-wrap: break-word;
  padding: 10px 5px;
}

table thead tr td, table tbody tr td {
  border-bottom: 1px solid var(--table-border-black);
}

table thead {
  background-color: var(--thead-color);
  border: 2px solid var(--table-border-black);
}

table tbody {
  margin: 1px;
}

table tbody tr:hover {
  background-color: var(--tr-Hover-color);
}

.table__header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.table__header .table__header-filters {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: 2px solid var(--table-border-black);
  border-left: 2px solid var(--table-border-black);
  border-right: 2px solid var(--table-border-black);
  background-color: var(--thead-color);
}

.table__header .table__header-filters .filter-options {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table__header .table__header-filters select {
  color: var(--black-color);
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 5px;
  font-weight: 600;
}

.table__header .table__header-filters select:focus {
  outline: none;
}

.table__header .table__header-filters .option {
  color: var(--black-color);
  font-size: 0.9rem;
  font-weight: 500;
}

.table__header .table__header-filters .searchInput {
  position: relative;
}

.table__header .table__header-filters .searchInput .icon-search {
  position: absolute;
  color: var(--black-color);
  bottom: 1px;
  right: 4px;
  background-color: white;
}

.table__header .table__header-filters .searchInput .icon-search i {
  padding: 6px;
}

.table__header .table__header-filters .searchInput input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--table-border-black);
  color: var(--black-color);
  font-weight: 600;
}

.table__header .table__header-filters .searchInput input:focus {
  color: var(--black-color);
  background: var(--colorText);
  border-radius: 5px;
  outline: none;
}

.table__footer {
  width: 100%;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.pagination > .active > a {
  background-color: var(--main-color);
  border-color: var(--table-border-black);
  color: var(--colorText);
}

.pagination > li > a {
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: var(--main-color);
  border-color: var(--main-color);
  outline: none;
}

.pagination > li > a, .pagination > li > span {
  color: var(--main-color);
}

.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span {
  border-radius: unset;
}

.css-2b097c-container {
  width: 120px;
}

.css-2b097c-container:focus {
  outline: none;
}

.css-2b097c-container .css-g1d714-ValueContainer:focus {
  outline: none;
}

.css-2b097c-container .css-yk16xz-control {
  color: var(--black-color);
  background-color: transparent;
  border-width: 0px !important;
  width: 100%;
}

.css-2b097c-container .css-1okebmr-indicatorSeparator {
  width: 2px !important;
  border-radius: 5px;
  background-color: var(--main-color);
}

.css-2b097c-container .css-tj5bde-Svg {
  color: var(--main-color);
}

.css-2b097c-container .css-2613qy-menu {
  background-color: var(--bgColorNav);
}

.css-2b097c-container .css-1uccc91-singleValue {
  color: var(--colorText);
}

.tooltip {
  position: relative;
  -webkit-transition: var(--duration) ease-in-out;
  transition: var(--duration) ease-in-out;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: var(--bgColorNav);
  color: var(--colorText);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  bottom: 100%;
  left: 50%;
  margin-left: -50px;
  /* Use half of the width (120/2 = 60), to center the tooltip */
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--bgColorNav) transparent transparent transparent;
}

.dateComponent {
  opacity: var(--opacity);
  margin-top: -4px;
  font-size: 0.9rem;
}

#modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding-top: 10%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  -webkit-transition: all 5s ease-in-out;
  transition: all 5s ease-in-out;
}

#modal .modal__container {
  position: relative;
  width: 700px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background: var(--bgColorMain);
  -webkit-backdrop-filter: var(--bgColorNav);
          backdrop-filter: var(--bgColorNav);
  border: 2px solid var(--modalBorder);
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 25px 0px var(--shadow-dark);
          box-shadow: 0 2px 25px 0px var(--shadow-dark);
}

#modal .modal__container .modal__header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #00000044;
  background: var(--modalHeader);
}

#modal .modal__container .modal__header .modal__header-title {
  text-align: center;
  padding: 1rem;
}

#modal .modal__container .modal__header .modal-close button {
  background: var(--bgColorMain);
  border: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  cursor: pointer;
  padding: 1rem;
}

#modal .modal__container .modal__header .modal-close button i {
  -webkit-transition: var(--duration) ease-in-out;
  transition: var(--duration) ease-in-out;
  color: var(--colorText);
}

#modal .modal__container .modal__header .modal-close button:hover i {
  font-size: 1.2rem;
  color: var(--danger);
}

#modal .modal__container .modal__body {
  width: 100%;
  padding: 1rem;
  background-color: var(--modalBody);
}
/*# sourceMappingURL=index.css.map */