.alert{
    border-radius: 5px;
    
    padding: 1rem;
    margin-bottom: 1rem;

    ul{
        margin-left: 1.5rem;

        li{ font-size: 0.9rem}
    }
}

.alert-danger{
    background-color: var(--danger);
    border: 2px solid var(--banner-figure-danger);
}